
<button>
    <a href="{% url 'csv' %}">Download CSV</a>
</button>
<table>
    <tr>
        <th>Category</th>
        <th> School </th>
        <th> Team Name</th>
        <th> Team Members</th>
        <th> Advisor </th>
        <th> Place </th>

    </tr>
{% for t in teams_list %}


<tr>
    <td>{{ t.team.category }}</td>
    <td>{{ t.team.advisor.school }}</td>
    <td>{{ t.team.team_name }}</td>
    <td>{{ t.students }} </td>
    <td>{{ t.team.advisor }}</td>
    <td>{{ t.team.place }}</td>

</tr>


{% endfor %}

</table>


